@{
    var loggedIn = User.Identity.IsAuthenticated;
}

@if (loggedIn)
{
    <li class="nav-item">
        <label>Welcome, @User.Identity.Name <br /> (@User.Claims.FirstOrDefault(x => x.Type == "Department"))</label>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="User" asp-action="Logout">Logout</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="User" asp-action="Login">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="User" asp-action="Register">Register</a>
    </li>
}
